<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Añadir libro</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  <!-- Book form -->
  <div class="inner-wrapper">
    <form
      [formGroup]="bookForm"
      (ngSubmit)="submitBook()"
      #resetBookForm="ngForm"
      novalidate
    >
      <mat-card>
        <div class="controlers-wrapper">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre del libro" formControlName="book_name" />
            <mat-error *ngIf="handleError('book_name', 'required')">
              Tienes que introducir<strong> un nombre para el libro</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="ISBN-10"
              formControlName="isbn_10"
              pattern="[0-9]*"
              minlength="10"
              maxlength="10"
            />
            <mat-error *ngIf="handleError('isbn_10', 'required')">
              Tienes que introducir <strong>un código de 10 dígitos tipo ISBN</strong>
            </mat-error>
            <mat-error *ngIf="handleError('isbn_10', 'pattern')">
              Solo números son permitidos
            </mat-error>
            <mat-error *ngIf="handleError('isbn_10', 'minlength')">
              El <strong>ISBN</strong> tiene que ser de 10 dígitos
            </mat-error>
          </mat-form-field>
          <!-- Author name -->
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Nombre del autor"
              formControlName="author_name"
            />
            <mat-error *ngIf="handleError('author_name', 'required')">
              Tienes que introducir un <strong>nombre del autor</strong>
            </mat-error>
          </mat-form-field>
          <!-- Publication date -->
          <mat-form-field>
            <input
              matInput
              readonly
              [matDatepicker]="picker"
              placeholder="Fecha de publicación"
              formControlName="publication_date"
              (dateChange)="formatDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('publication_date', 'required')">
              Publication date is required
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Book binding -->
          <mat-form-field>
            <mat-label>Tipo de encuadernación</mat-label>
            <mat-select formControlName="binding_type">
              <mat-option
                [value]="bindingType"
                *ngFor="let bindingType of BindingType"
                >{{ bindingType }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="handleError('binding_type', 'required')">
              Binding type is required
            </mat-error>
          </mat-form-field>
          <!-- Book stock -->
          <div class="misc-bottom-padding">
            <mat-label>Disponible en stock: </mat-label>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="in_stock"
            >
              <mat-radio-button value="Yes">Si</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- Add languages -->
          <mat-form-field class="multiple-items">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let lang of languageArray"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(lang)"
              >
                {{ lang.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Añadir idiomas"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <i
              class="material-icons tooltip-info"
              matTooltip="Introduzca el nombre del artículo y pulse Intro para añadir varios artículos"
            >
              info
            </i>
          </mat-form-field>
        </div>
      </mat-card>
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Añadir</button>
            <button mat-flat-button color="war" (click)="resetForm()">
              Limpiar
            </button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>